/*  note: numbers are doubled as overall html is scaled 50% at threejs level */

.letter {
  position: relative;
  width: 800px;
  /*height: 1200px;*/
  max-width: 140vw;
  max-height: 140vh;
  transition: opacity 0.5s ease-out;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  font-size: 32px;
}

@media (max-height: 500px) {
  .letter {
    max-height: 190vw;
  }
}