.mute {
  cursor: pointer;
	background: rgba(255,255,255,0.8);
	border-radius: 100%;
	border-style: solid;
	position: absolute;
	z-index: 400;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-color: rgba(0,0,0,0.5);
	/* normization compatability with my ipad which seemed to need this: */
	margin:0;
	padding: 0;
	padding-block-end: 1px;
	padding-block-start: 1px;
	padding-inline-end: 6px;
	padding-inline-start: 6px;
}

.mute:active {
	background: rgba(200, 200, 200, 0.8);
	outline: none;
}
